mixin pagination(options)

  if !options
    - options = {}

  .pagination
    .pagination__nums
      button.button.pagination__first-page.pagination__first-page_active(type='button')
        h3.first-page__num= options.first
      button.button.pagination__second-page(type='button')
        h3.second-page__num= options.second
      button.button.pagination__third-page(type='button')
        h3.third-page__num= options.third
      button.button.pagination__fourth-page(type='button')
        h3.fourth-page__num= '...'
      button.button.pagination__last-page(type='button')
        h3.last-page__num= options.last
      button.button.pagination__next-page(type='button')
        +button-arrow-icon
    p.pagination__desc= options.desc