mixin checkbox(options)
  if !options
    - options = {}

  -
    var checkboxClassName = 'checkbox'
    checkboxClassName += options.addtext ? ' checkbox_rich' : ''

  div(class=checkboxClassName)
    input.checkbox__input(type='checkbox', id=options.id, name=options.id, checked=options.checked)
    label.checkbox__label(for=options.id)
      .checkbox__text-wrapper
        p.checkbox__text!= options.text
        p.checkbox__addtext!= options.addtext