mixin form(options)
  form(action=options.action method=options.get class='form')
    label(for=options.for)
    input(type=options.type id=options.for placeholder=options.placeholder class='form__input text-field')