mixin benefits-card(options)
  if !options
    - options = {}

  .benefits-card
    .benefits-card__image-wrapper
      img.benefits-card__image(src=require(`./svg/${options.image}.svg`), alt=options.image)
    p.benefits-card__title= options.title
    p.benefits-card__text= options.text
    .benefits-card__plank