mixin big-button(options)

  if !options
    - options = {}

  form(action=options.action, method=options.method, name=options.name)
    button.big-button(type=options.type, name=options.name, value=options.value)
      h3= options.text
      +button-arrow-icon